.text-input {
    height: 39px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #2f3237;
    font-size: 16px;
    line-height: 2.19;
    text-align: left;
    color: #2f3237;
    text-indent: 11px;
}
